*, ::before, ::after{
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*************** Header Section *************/
header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 0.5em 1em;
}
.header-nav{
    margin-right: 1.25em;

}
.header-logo{
    margin: 0 auto;
    width: 108px;
    height: auto;
}
.header-cart{
    margin-left: 1.25em;
}
.logo-img{
    width: 100%;
    height: auto;
}
.header-row{
    padding-top: 15px;
}
main{
    width: 100%;
    
    
}
.aside-nav{
    padding: 8px 10px;
    border-bottom: 1px solid purple;
    width: 35%;


}


/*************** Hero Section *************/
.hero{
    background-color: rgb(241, 241, 241);
    width: 100%;
    height: 250px;
    padding: 30px 10px;
    text-align: center;
    display: inline-block;
}

.search-bar{
    margin-top: 50px;
    color: black;
    background-color: white;
    width: 80%;
    height:70px;
    padding: 8px 12px;
    padding-left: 20px;
    border:none;
    outline: none;
    font-size: 18px;
    border: 1px solid rgb(61, 1, 61);
}
button{
    border:1px solid rgb(61, 1, 61) ;
    width: 10%;
    height: 70px;
    background-color: rgb(210, 62, 62);
    
}




/*************** Footer Section *************/

footer {
    background-color: rgb(210, 62, 62);
    width: 100%;
    height: 100px;
    padding-top: 20px;
    text-align: center;
    color: black;
    margin-top: auto;
}
.footer-p{
    color: whitesmoke;
}

/*************** Main Section *************/
.section-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: ;
}
.grid-info{
    display: flex;
    flex-direction: column;
    border: 2px solid  rgb(241, 241, 241);
    padding-bottom: 8px;
}
span{
    color: grey;
}
p{
    color:#505050;
    text-align: center;
}
.emoji{
    margin: 20px auto;
    font-size: 5em;
}

